.bio__sub {
    position: relative;
    padding-right: 115px;
    text-align: right;
    margin-top: 0px;

    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #828282;
}