.bio__p {
    position: relative;
    width: 80%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 1.188rem;
    line-height: 1.5rem;
    color: #333333;
}

.bio__p.italic {
    position: relative;
    width: 85%;
    margin-top: 41px;

    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 1.40rem;
    line-height: 2rem;
    color: #1C86A4;
}
