.banner__sub {
    position: relative;
    width: 425px;
    height: 93px;
    left: 98px;
    top: 130px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: justify;
    
    text-transform: uppercase;
    
    color: #E5E5E5;
}
