.banner__title {
    position: relative;
    width: 348.69px;
    height: 43.05px;
    left: 102px;
    top: 165px;

    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1rem;

    color: #BE9667;
}

.banner__title:nth-child(2) {
    width: 404.18px;
    height: 150px;
    left: 98px;
    top: 125px;
    
    font-style: normal;
    font-size: 6rem;
    line-height: 120px;

    text-transform: uppercase;
    text-align: center;

    color: rgba(2, 75, 104, 0.68);
}

.banner__title:nth-child(3) {
    width: 289px;
    height: 43px;
    left: 240px;
    top: 85px;

    text-align: right;

    color: #BE9667;
}
