.banner {
    background: url('../../img/banner/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 630px;
}

.banner div {
    width: 1366px;
    margin: auto;
}
