.bt-blue {
    position: relative;
    width: 297px;
    height: 50px;

    background: #014561;
    border-radius: 2px;
    border: none;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5E5;

    transition: 1s;
}

.bt-blue:hover {
    background-color: #013145;
    cursor: pointer;
}

.bt-gold {
    width: 330px;
    height: 55px;

    background: #BE9667;
    border: none;
    border-radius: 2px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    
    text-align: center;
    
    color: #E0E0E0;

    transition: 1s;
}

.bt-gold:hover {
    background: #727272;
    cursor: pointer;
}
