.depo__pic {
    background-image: url('../../img/depos/pics/will.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 121px;
    height: 121px;

    margin: auto;
}
